<!DOCTYPE html>
<body>
  <%= render "shared/header"%>
    <div class="contents">
      <img src="https://bali-an-fujisawa.ocnk.net/data/bali-an-fujisawa/image/high.quality/20210426_ce46da.jpg" alt="トップ画面" class="top-image">
      <div class="first-content">
        <h2 class="heading-name">NEWS & EVENT</h2>
        <button type="button" class="btn btn-outline-success">NEWS & EVENT一覧へ</button>
      </div>

      <div class="second-content">
        <h2 class="heading-name">CONCEPT</h2>
        <div class="concept">
          <img src="images/balian-concept15.jpg" class="concept-image1">
          <img src="images/balian_concept06.jpg" alt="concept" class="concept-image2">
          <img src="images/balian_concept11.jpg" class="concept-image1">
        </div>
        <h4 class="concept-text">コンセプト説明文</h4>
        <button type="button" class="btn btn-outline-success" >CONCEPT詳細へ</button>
      </div>

      <div class="third-content">
        <h2 class="heading-name">PRODUCT GALLERY</h2>
        <!-- <img src="" alt="product" class="product-image"> -->
        <button type="button" class="btn btn-outline-success">PRODUCT一覧へ</button>
      </div>

      <div class="fourth-content">
        <h2 class="heading-name">OUR SHOP</h2>
        <div class="shop-name">マルイファミリー海老名店</div>
        <img src="https://bali-an-fujisawa.ocnk.net/data/bali-an-fujisawa/image/20210426_ce46da.jpg" alt="concept" class="shop-image">
        <div class="shop-detail">〒243-0483 神奈川県海老名市中央1-6-1 マルイファミリー海老名2F<br/>TEL: 046-244-5253  /  営業時間: 10:30 ～ 20:00</div>
        <button type="button" class="btn btn-outline-success">店舗詳細へ</button>
      </div>

      <div class="fifth-content">
        <h2 class="heading-name">BLOG</h2>
        <div class="concept-text">こちらのブログでは、現地バリ島スタッフの日常をお届けしております。<br/>ウブドの自社工場の様子や、ローカルの生活風景をお楽しみください。</div>
        <button type="button" class="btn btn-outline-success">BLOG一覧へ</button>
        <div class="sns">その他メディア情報</div>
          <img src="images/twitterlogo.jpeg" alt="Twitter" class="sns-icons">
          <img src="images/instagramlogojapan.jpeg" alt="Instagram" class="sns-icons">
          <img src="images/facebooklogo.jpeg" alt="Facebook" class="sns-icons">
          <img src="images/pinterestlogo.jpeg" alt="Pinterest" class="sns-icons">
      </div>

      <div class="sixth-content">
        <h2 class="heading-name">BUSINESS ORDER</h2>
        <div class="concept-text">ビジネス・法人のお客様に向けた空間のトータルコーディネートなどの柔軟なサービスをご用意しております。</div>
        <button type="button" class="btn btn-outline-success">BUSINESS ORDER詳細へ</button>
      </div>

      <div class="seventh-content">
        <form class="contact-form">
          <h2 class="heading-name">CONTACT</h2>
          <div class="contact-message">商品に関するご質問やオーダー家具のご依頼など、こちらのコンタクトボックスよりお気軽にご連絡ください。</div>
          <input type="text" placeholder="name" class="small-field">
          <input type="text" placeholder="e-mail" class="small-field">
          <textarea placeholder="message" class="large-field"></textarea>
          <input type="submit" value="SEND" class="send">
        </form>
      </div>
    </div>
    <%= render "shared/footer"%>
  </body>
</html>