<footer>
  <ul class="company-details">
    <li class="company-detail">会社概要</li>
    <li class="company-detail">サイトマップ</li>
    <li class="company-detail">プライバシーポリシー</li>
    <li class="company-detail">求人情報</li>
  </ul>
  <p class="copyright">Copyright(C) BALI-AN ALL RIGHTS RESERVED.</p>
</footer>